.hero__inner{
    
    background-image: url(../../images/Bitmap.png);
    margin-bottom: 200px;
}


.hero__title{
    width: 557px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
    padding-left: 86px;
    padding-top: 170px;
    font-family: Fraunces;
    
}


.hero__text{
    width: 445px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    font-family: Barlow;
    padding-left: 86px;
    padding-bottom: 70px;
    
}
